<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <title>Error</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{errorMassege}}
    </div>

    {{>footer}}
</body>

</html>